{% extends 'MkoxSolmikBundle::layout.html.twig' %}
{% set title = 'My solmization strings' %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
    <h1>{{ title }}</h1>
    <div id="login">
        <a href="{{ path('fos_user_security_login') }}">logging</a>
        {#
        <?php
        $user = $this->identity();
        if ($user) {
            echo '<div id="logged-in-message">Logged in as ' . $this->escapeHtml($user->getUsername()) . '</div>';
            echo '<form action="&#x2F;solmik&#x2F;logout" method="POST" name="login-form" id="logout-form"><input name="submit" type="submit" value="Log out"></form>';
        } else {
            $loginForm->prepare();
            $loginForm->setAttribute('action', $this->url(
                            'solmik', array(
                        'action' => 'login'
                            )
            ));
            echo $this->form()->openTag($loginForm);
            echo $this->formCollection($loginForm);
            echo $this->form()->closeTag();
        }
        ?>
        #}
    </div>
{% endblock %}
{% block main %}

    <section id="staff-outer">
        <figure id="staff">
            <img id="staff-image" src="{{ asset(bPath ~ 'images/staff.svg') }}" alt="staff">
        </figure>
        <div id="message-staff"></div>
        <div class="used-string"></div>
        <div class="notes-string"></div>
        <div class="frequencies-string"></div>
        <div id="frequencies-string2"></div>
    </section>

    <section id="all-squares-outer">
        <div id="all-squares">
            <div id="sq11" class="squares-3x3">
                <div class="row">
                    <div></div><div></div><div></div>
                </div>
                <div class="row">
                    <div></div><div></div><div></div>
                </div>
                <div class="row">
                    <div></div><div></div><div></div>
                </div>
            </div>
            <div id="sq10" class="squares-3x3">
                <div class="row">
                    <div></div><div></div><div></div>
                </div>
                <div class="row">
                    <div></div><div></div><div></div>
                </div>
                <div class="row">
                    <div></div><div></div><div></div>
                </div>
            </div>
            <div id="sq9" class="squares-3x3">
                <div class="row">
                    <div></div><div></div><div></div>
                </div>
                <div class="row">
                    <div></div><div></div><div></div>
                </div>
                <div class="row">
                    <div></div><div></div><div></div>
                </div>
            </div>
        </div>
    </section>

    <section id="solmi-config"></section>

    <section id="ng-categories-and-strings" ng-controller="categoriesAndStringsCtrl">
        {#<h1>Hello {{ '{{ name }} '}},</h1>#}
        {#<h2>you POSTed "{{ '{{ foo }} '}}"</h2>#}

        <p class="categories-top">
            <strong>Categories</strong>
            <span ng-show="vm.loggedin">
                {#- <a href="/solmik/category/create">Add new Category</a>#}
                - <a ng-click="vm.formNewCategory()" href="">Add new Category</a>
            </span>
        <div ng-show="vm.showFormNewCategory" ng-include="vm.path.categoryNew"></div>
    </p>
    <div class="table" id="solmi-strings" ng-repeat="category in vm.stringsInCategories | orderBy:'name'">
        <div class="cat-and-strings cat-and-strings-{% verbatim %}{{ category.id}}{% endverbatim %}">
            <div class="category">{% verbatim %}{{ category.name}}{% endverbatim %}
                <span ng-show="vm.loggedin">
                    <a href=""ng-click="vm.setStateCategory(category.id, 'edit')">Edit</a>
                    -
                    <a href=""ng-click="vm.setStateCategory(category.id, 'delete')">Delete</a>
                    -
                    {#<a href="" ng-click="vm.formNewString($event, category)">Add string</a>#}
                    <a href=""ng-click="vm.setStateCategory(category.id, 'stringNew')">Add string</a>
                </span>
                <div ng-switch="vm.stateCategory[category.id]">
                    <div class="step" ng-switch-when="edit">
                        <div ng-include="vm.path.categoryEdit"></div>
                    </div>
                    <div class="step" ng-switch-when="delete">
                        <div ng-include="vm.path.categoryDelete"></div>
                    </div>
                    <div class="step" ng-switch-when="stringNew" form-new-string ng-attr-category="category" ng-attr-vm="vm">
                        {#<div ng-include="vm.path.stringNew"></div>#}
                    </div>
                    <div class="step" ng-switch-default>

                    </div>
                </div>
            </div>

            <ul class="solmistrings">
                <li class="solmistring" ng-repeat="solmistring in category.solmistrings | orderBy:'name'">
                    <form name="solmik_solmistring_for_list" method="post" action="" class="solmistring-form-for-list">
                        <div id="solmik_solmistring_for_list">
                            <div>
                                <button type="button" id="solmik_solmistring_for_list_save" name="solmik_solmistring_for_list[save]" class="go">Go</button>
                            </div>
                            <div>
                                <select name="solmik_solmistring_for_list[soundKey]" id="solmik_solmistring_for_list_soundKey" 
                                        class="sound-keys"
                                        ng-options="option.name for option in vm.soundKeysArray track by option.name"
                                        get-sound-key ng-model="solmistring.soundKey"
                                        >
                                </select>
                            </div>
                            <div>
                                {#<select  id="solmik_solmistring_for_list_baseScale" name="solmik_solmistring_for_list[baseScale]" class="scales"
                                         ng-model="solmistring.baseScale" ng-options="n for n in [] | range:1:9">
                                </select>#}
                                <input type="number" ng-model="solmistring.baseScale"
                                       min="1" max="9" required
                                       id="solmik_solmistring_for_list_baseScale" name="solmik_solmistring_for_list[baseScale]" class="scales"
                                       >
                            </div>
                            <div>
                                <input type="text" id="solmik_solmistring_for_list_string" name="solmik_solmistring_for_list[string]" required="required" value="{% verbatim %}{{ solmistring.string}}{% endverbatim %}" />
                            </div>
                            <input type="hidden" id="solmik_solmistring_for_list__token" name="solmik_solmistring_for_list[_token]" value="EjVHBUxlpaV5usl1fMtk0NlFqb7R_FEIzKOWOS_22ko" />
                        </div>
                    </form>
                    <span ng-show="vm.loggedin">
                        <a href=""ng-click="vm.setStateSolmistring(solmistring.id, 'edit')">Edit</a>
                        -
                        <a href=""ng-click="vm.setStateSolmistring(solmistring.id, 'delete')">Delete</a>
                        - 
                    </span>
                    {% verbatim %}{{ solmistring.name}}{% endverbatim %}
                    <div ng-switch="vm.stateSolmistring[solmistring.id]">
                        <div class="step" ng-switch-when="edit" form-edit-string ng-attr-category="category" ng-attr-solmistring="solmistring" ng-attr-vm="vm">
                            {#<div ng-include="vm.path.categoryEdit"></div>#}
                        </div>
                        <div class="step" ng-switch-when="delete" ng-attr-category="category" ng-attr-solmistring="solmistring" form-delete-string ng-attr-vm="vm">
                        </div>
                        <div class="step" ng-switch-default>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {#<div ui-view></div>#}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="solmik-authenticated" style="display:hidden;"></div>
    {% endif %}

</section>

{% if not showOnlyAngularForms %}
    <section id="categories">
        <p class="categories-top">
            <strong>Categories</strong>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                - <a href="{{ path('solmik-category-create') }}">Add new Category</a>
            {% endif %}
        </p>
        <table class="table" id="solmi-strings">
            {% for cKey, category in categories %}
                <tr>
                    <td>{{ category.getName() }}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('solmik-category-edit', {'id' : category.getId()}) }}">Edit</a> - 
                            <a href="{{ path('solmik-category-delete', {'id' : category.getId()}) }}">Delete</a> - 
                            <a href="{{ path('solmik-string-create', {'category_id' : category.getId()}) }}">Add string</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if stringForms[cKey] %}
                            <ul>
                                {% set solmistrings = category.getSolmistrings() %}
                                {% for sF in stringForms[cKey] %}
                                    {% set j = loop.index0 %}
                                    <li>
                                        {% set stringForm = stringForms[cKey][j] %}

                                        {{ form_start(stringForm, { 'attr': { 'class': 'solmistring-form-for-list' }}) }}
                                        {{ form_widget(stringForm) }}
                                        {{ form_end(stringForm) }}
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <a href="{{ path('solmik-string-edit', {'id' : solmistrings[j].getId()}) }}">Edit</a> - 
                                            <a href="{{ path('solmik-string-delete', {'id' : solmistrings[j].getId()}) }}">Delete</a>
                                            - 
                                        {% endif %}
                                        {{ solmistrings[j].getName() }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endif %}
{% endblock %}