{#
<?php
$title = 'My solmization strings';
$this->headTitle($title);
?>
#}
{% set title = 'My solmization strings' %}
<div id="head">
    <h1>{{ title }}</h1>
    <div id="login">
        {#
        <?php
        $user = $this->identity();
        if ($user) {
            echo '<div id="logged-in-message">Logged in as ' . $this->escapeHtml($user->getUsername()) . '</div>';
            echo '<form action="&#x2F;solmik&#x2F;logout" method="POST" name="login-form" id="logout-form"><input name="submit" type="submit" value="Log out"></form>';
        } else {
            $loginForm->prepare();
            $loginForm->setAttribute('action', $this->url(
                            'solmik', array(
                        'action' => 'login'
                            )
            ));
            echo $this->form()->openTag($loginForm);
            echo $this->formCollection($loginForm);
            echo $this->form()->closeTag();
        }
        ?>
        #}
    </div>
</div>
<div id="upper">
    <div id="upper1">
        <div id="div1">
            <div id="all-squares">
                <div id="sq11" class="squares-3x3">
                    <div class="row">
                        <div></div><div></div><div></div>
                    </div>
                    <div class="row">
                        <div></div><div></div><div></div>
                    </div>
                    <div class="row">
                        <div></div><div></div><div></div>
                    </div>
                </div>
                <div id="sq10" class="squares-3x3">
                    <div class="row">
                        <div></div><div></div><div></div>
                    </div>
                    <div class="row">
                        <div></div><div></div><div></div>
                    </div>
                    <div class="row">
                        <div></div><div></div><div></div>
                    </div>
                </div>
                <div id="sq9" class="squares-3x3">
                    <div class="row">
                        <div></div><div></div><div></div>
                    </div>
                    <div class="row">
                        <div></div><div></div><div></div>
                    </div>
                    <div class="row">
                        <div></div><div></div><div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="upper2">
        <div id="staff"><img src="/module/solmik/images/staff.svg" alt="staff"></div>
        <div id="message-staff"></div>
        <div class="used-string"></div>
        <div class="notes-string"></div>
        <div class="frequencies-string"></div>
        <div id="frequencies-string2"></div>
    </div>
</div>
<p class="categories-top">
    <strong>Categories</strong>
    {#<?php if ($user) : ?>#}
        - <a href="{{ path('solmik-category-create') }}">Add new Category</a>
         {#<?php endif ?>#}
</p>
<table class="table" id="solmi-strings">
    {% for cKey, category in categories %}
        <tr>
            <td>{{ category.getName() }}
                {#<?php if ($user) : ?>#}
                    <a href="{{ path('solmik-category-edit', {'id' : category.getId()}) }}">Edit</a> - 
                    <a href="{{ path('solmik-category-delete', {'id' : category.getId()}) }}">Delete</a> - 
                    <a href="{{ path('solmik-string-create', {'category_id' : category.getId()}) }}">Add string</a>
                   {#<?php endif ?>#}
            </td>
        </tr>
        <tr>
            <td>
                {% if stringForms[cKey] %}
                    <ul>
                        {% set solmistrings = category.getSolmistrings() %}
                        {% for sF in stringForms[cKey] %}
                            {% set j = loop.index0 %}
                            <li>
                                {% set stringForm = stringForms[cKey][j] %}

                                {{ form_start(stringForm) }}
                                {{ form_widget(stringForm) }}
                                {{ form_end(stringForm) }}
                                {#<?php if ($user) : ?>#}
                                    <a href="{{ path('solmik-string-edit', {'id' : solmistrings[j].getId()}) }}">Edit</a> - 
                                    <a href="{{ path('solmik-string-delete', {'id' : solmistrings[j].getId()}) }}">Delete</a>
                                    - 
                                {#<?php endif ?>#}
                                {{ solmistrings[j].getName() }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>