{% extends 'MkoxSolmikBundle::layout.html.twig' %}
{% set title = 'Add new category' %}
{% block title %}{{ title }}{% endblock %}

{% block main %}
    <h1>{{ title }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}